.placelist-div{
    margin: 15px;
    border: 2px solid white;
    border-radius: 5px;
}

.placelist-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.placelist-title .title{
    margin: 5px;
}

.placelist-title .title:hover{
    color: #e43f5a;
    cursor: pointer;
}

@media (max-width: 800px){
    .placelist-div{
        margin: 0px 0px 10px 0px;
    }
}
